body {
    background-image: url("../assets/background_register.png");
    background-size: cover;
    background-position: center;
    background-position-y: 10px;
    background-blend-mode: darken;
    background-color: #000000bf;
}

.container-admin {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar {
    width: 350px;
    height: 100vh;
    background-color: #1a1a1a;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}

.logo img {
    width: 200px;
    border-radius: 300px;
    margin-bottom: 20px;
    background-color: #fff;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 55px 0
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.menu ul li a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu ul li a span {
    font-size: 20px;
    font-weight: 500;
}

.jumbotron {
    margin-left: 350px;
    width: calc(100% - 350px);
}